@import "tailwindcss";

.text-primary{
    @apply text-[#FCFCFC]
}
.text-hover{
    @apply text-[#00FFFF]
}
.bg-primary{
    @apply bg-[#1F1F22]
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hidden {
    -ms-overflow-style: none;  
    scrollbar-width: none;      
  }


.scrollbar-custom {
    scrollbar-width: thin; 
    scrollbar-color: #353535 #212121; 
  }
  
  .scrollbar-custom::-webkit-scrollbar {
    width: 8px; 
    height: 8px; 
  }
  
  .scrollbar-custom::-webkit-scrollbar-track {
    background: #212121; 
    border-radius: 8px; 
  }
  
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #2b2b2b; 
    border-radius: 8px; 
    border: 2px solid #212121; 
  }
  
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #393939; 
  }
  
  .scrollbar-custom::-webkit-scrollbar-button {
    display: none;
  }
  

  @media (min-width:1700px){
    .custom-grid{
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }

  @media (max-width:1700px) and (min-width:1400px){
    .custom-grid{
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  @media (max-width:1400px) and (min-width:1000px){
    .custom-grid{
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media (max-width:1000){
    .custom-grid{
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
  
  